src/test/resources/delete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Delete">
        <xs:annotation>
            <xs:documentation>Delete Input Operation
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Key" type="xs:normalizedString"/>
                <xs:element name="deleteByPattern" type="xs:boolean" default="false" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>